body{
  margin-bottom: 15px;
  color:#4B4C4C;
  background-color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
}
.fstyle{
  font-family: 'Kaushan Script', cursive!important;
  font-size: 40px !important;
}
