.header-image img{
    height: 35vh;
    width: 100%;
    object-fit: cover;
}
.profile-pic img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right:auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid white;
    margin-top: -70px;
}
hr{
    border-bottom: 2px solid white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.profile-info{
    padding-top: 15px;
}
.main .container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.main .img-holder {
  flex-grow:1;
  padding: .2rem;
}

.main .img-holder img {
  display: block;
  min-width: 100%;
  height: 16rem;
  object-fit: cover;
}