{% extends 'base.html' %}
{% load static %}


{% block additional_links %}
{% endblock %}


{% block content %}
    <div class="container h-100 ">
        <h1 class="text-center text-light pb-2 mt-2" style="font-weight: bold">Register:</h1>
        <div class=" row justify-content-center mb-5">
            <div class="col-6 border border-light rounded" style="background-color: #1a1a1a">
                <form method="POST" enctype="multipart/form-data" class="text-light p-4">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group mb-3">
                            <p class="text-danger">{{ field.errors }}</p>
                            <label class="mb-2" for="{{field.auto_id}}" style="font-size: 20px">
                                <i class="bi bi-dot text-success"></i>
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group text-center">
                        <button  class="btn btn-success btn-lg" type="submit" style="width: 40%">Register</button>
                        <div class="text-light">
                            <h6 class="pb-3 mt-4">Already have an account?</h6>
                            <a href="{% url 'login' %}" class="btn btn-info">Log in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}